/* $Id: layout.css,v 1.3 2004-06-13 23:11:04 paulmcav Exp $ */

#mysegami-header {
	height: 32px;	
/*
	background-color: #fff;
	width: auto;
	min-width: 640px;
	margin: 0px;
	vertical-align: middle;
	z-index: 1;
	background-color: #cccccc;
	position: relative;
	top: 0px;
	left: 2%;
	right: 2%;
	width:95.6%;
	height: 32px;	
	border: thin outset;
*/
}

#mysegami-headerTitle{
	position: absolute;
	font: bold 114% Arial,sans-serif;
	left: 10px;
	top: 5px;
}
	
#mysegami-headerItems{
	position: absolute;
	right: 10px;
	top: 7px;
	text-align: right;
	display: inline;
	color: #919999;
	background-color: #D1DCDC;
	padding: 1px;
	/*
	position: absolute;
	top: 5px;
	right: 6px;
	left: auto;
	width: auto;
	height: auto;
	padding: 2 4 0 4;
	margin-top: 0px;
	padding-top: 2px;
	vertical-align: top;
	color: #919999;
	background-color: #D1DCDC;
	font: 75% Verdana,sans-serif;
	*/
}

#mysegami-bodyPanel{
	width: auto;
	min-width: 805px;
	margin: 10px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 10px;
	padding-right: 10px;
	/*
	z-index: 3;
	background-color: #fcf;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid #aaa;
	margin: 10px;
	position: relative;
	z-index: 1;
	top: 4px;
	left: .5%;
	right: .5%;
	width: 99%;
	background-color: #ffffff;
	border-bottom: 1px solid #ccd2d2;
	position: relative;
	*/
}

#mysegami-content {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 0px;
	/*
	*/
}

#mysegami-content > .mysegami-body-bottom { top: 0 }

.mysegami-body-tl, .mysegami-body-tr, .mysegami-body-bl, .mysegami-body-br {
	position: relative;
	width: 12px;
	height: 12px;
	/* work-around for ie6/mac */
	display: none;
}

.mysegami-body-tl, .mysegami-body-bl { float: left; left: 0px; }
.mysegami-body-tr, .mysegami-body-br { float: right; right: 0px; }
.mysegami-body-tl, .mysegami-body-tr { top: 0px; }
.mysegami-body-bl, .mysegami-body-br { bottom: 0px; margin-top; -12px; top: -11px; }

html>body .mysegami-body-tl { background: #FFFFFF url("tl_curve.png")
	no-repeat left top; }
html>body .mysegami-body-tr { background: #FFFFFF url("tr_curve.png")
	no-repeat right top; }
html>body .mysegami-body-bl { background: #FFFFFF url("bl_curve.png")
	no-repeat left bottom; }
html>body .mysegami-body-br { background: #FFFFFF url("br_curve.png")
	no-repeat right bottom; }

.mysegami-body-tl {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/tl_curve.png',sizingMethod='scale'); }
.mysegami-body-tr {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/tr_curve.png',sizingMethod='scale'); }
.mysegami-body-br {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/br_curve.png',sizingMethod='scale'); }
.mysegami-body-bl {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bl_curve.png',sizingMethod='scale'); }
	
.mysegami-body-tl, .mysegami-body-tr, .mysegami-body-bl, .mysegami-body-br {
	/* restore view for all but ie6/mac */
	display: block;
	/*
	*/
}

.mysegami-body-bl, .mysegami-body-br {
	top: -12px;
}

#mysegami-rule {
	height: 2px;
	background-color: #bbE;
	border-bottom: 1px solid #DcF2F2;
	/*
	background-color: #fae;
	*/
}

#mysegami-bodyHeader{
	font: small Verdana,sans-serif;
	color: #8A8A8A;
	height: 42px;
	border-bottom: 1px solid #bcc2c2;
	/*
	border-bottom:1px solid #ccd2d2;
	background-color: #fae;
	z-index: 0;
	background-color: #fff;
	padding: 5px 0px 5px 10px;
	border: 1px solid #aaa;
	*/
}

#mysegami-bodyHeader a{
	color: #AAAAAA;
}

#mysegami-bodyHeader a:hover{
	color: #005FA9;
	background-color: #c7d3c7;
	text-decoration: none;
}

#mysegami-bodyHeader img{
	display: inline;
	/*
	margin: 0px 10px 0px 0px;
	*/
}

#mysegami-bodyHeaderImg {
	margin: 0px 5px 0px 0px;
	/*
	*/
}
#mysegami-bodyFooter{
	position: relative;
	border-top: 1px solid #cccccc;
	font-size: 10px;
	color: #999999;
	padding: 5px 5px 5px 5px;
	text-align: center;
	vertical-align: bottom;
	/*
	position: relative;
	top: 0px;
	height: 4px;
	clear: both;
	border-top: 1px solid #cccccc;
	font-size: 10px;
	color: #999999;
	padding: 5px 5px 5px 5px;
	margin-top: -1px;
	text-align: center;
	vertical-align: bottom;
	*/
}

#mysegami-bodyFooter img{
	padding: 4px 4px 4px 0px;
	vertical-align: middle;
}

/* ---- page: Index styles ---- */

#mysegami-indexNav{
	float: left;
	width: 200px;
	padding: 0px;
	background-color: #F5f7f7;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	font: small Verdana,sans-serif;
	/*
	z-index: 10;
	*/
}

#mysegami-indexContent{
	padding: 0px 0px 10px 10px;
	margin: 0px 0px 0px 200px;
	border-left: 1px solid #ccd2d2;
	min-height: 00;
}

#mysegami-indexNavLinks{
	margin: 0px;
	padding: 0px;
}

#mysegami-indexNavLinks h3{
	padding: 0px 0px 2px 5px;
	border-bottom: 1px solid #cccccc;
}

#mysegami-indexNavLinks a:link, #mysegami-indexNavLinks a:visited {
	display: block;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #cccccc;
	background-image:  url("bg_nav.jpg");
	padding: 3px 0px 3px 10px;
	color: #21536A;
}

#mysegami-indexNavLinks a:hover{
	border-top: 1px solid #cccccc;
	background-color: #DDEEFF;
	background-image: none;
	text-decoration: none;
}

#mysegami-indexNavRelated{
	margin: 0px;
	padding: 0px 0px 10px 5px;
	border-bottom: 1px solid #cccccc;
}

#mysegami-indexNavRelated h3{
	padding: 0px 0px 2px 0px;
}

#mysegami-indexNavRelated a{
	display: block; 
	right: 6px;
	padding: 0px 0px 0px 5px;
	margin: 0px;
}

/* ---- page: View styles ---- */

#mysegami-ViewTitle {
	float: left;
/*
	width: auto;
	min-width: 600px;
*/
}

#mysegami-ViewTitleLinks {
	float: right;
	padding: 2px;
	text-align: right;
	/*
	position: relative;
	top: -20px;
	right: 20px;
	*/
}

#mysegami-ViewFooter {
	float: right;
	margin: 0px 15px 0px 0px;
	border-top: 1px solid #ccd2d2;
	/*
	padding: 12px
	margin: 2px 15px 0px 5px;
	position: relative;
	top: -20px;
	right: 20px;
	*/
}

#pView_th_i {
	float: left;
	font-size: 10px;
	text-decoration: none;
	text-align: center;
	padding: 1px;
	width: 100px;
	height: 103px;
/*
	IE does not like min-width
*/
}

#pView_th_p {
	float: left;
	font-size: 10px;
	text-decoration: none;
	text-align: center;
	padding: 1px;
	width: 170px;
	height: 100px;
}

#pView_th_v {
	float: left;
	font-size: 10px;
	text-decoration: none;
	text-align: center;
	padding: 1px;
	width: 170px;
	height: 138px;
}

#pView_th_new {
	font-size: 9px;
	text-decoration: none;
	text-align: center;
	background-color: #E4F3F2;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	margin: 5px;
}

#pView_thumb {
}

/* ---- */

#view_image {
/*	display: none; */
}


