/* $Id: styles.css,v 1.23 2004-06-10 02:00:38 paulmcav Exp $ */

body{
	font-size: 0.9em;
	font-family: bitstream vera sans, sans-serif;
	color: #333333;
	margin: 0px;
	padding: 0px;
	background-color: #E4F3F2;
}

a:link, a:visited{
        color: #005FA9;
        text-decoration: none;
}

a:hover{
        color: #00A95F;
        text-decoration: underline;
}

/************** header tag styles **************/

h1{
 font: bold 120% Arial,sans-serif;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

h2{
 font: bold 114% Arial,sans-serif;
 color: #006699;
 margin: 0px;
 padding: 0px;
}

h3{
 font: bold 100% Arial,sans-serif;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

h4{
 font: 100% Arial,sans-serif;
 color: #333333;
 margin: 0px;
 padding: 0px;
}

h5{
 font: 100% Arial,sans-serif;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}


/*************** list tag styles ***************/

ul{
 list-style-type: square;
}

ul ul{
 list-style-type: disc;
}

ul ul ul{
 list-style-type: none;
}

/********* form and related tag styles *********/

form {
	margin: 0;
	padding: 0;
}

label{
 font: bold 1em Arial,sans-serif;
 color: #334d55;
}
				
input{
font-family: Arial,sans-serif;
}

/* ---- */

#image_title {
	background-color: #E4F3F2;
}

#col_txt_ {
	border: thin outset;
}

#col_txt_0 { }
#col_txt_2 { }
#col_txt_3 { }
#col_txt_img { }

/***** tree stuff *****/

A.el { text-decoration :none: font-weight: bold }
A.el_sel { text-decoration :none: font-weight: bold; background-color: #c7d3c7; }

.directory { font-size: 10px; }
.directory #fixed { font: small Courier New, Courier, mono; }
.directory a { font-size: 12px; font-weight: bold; }
.directory h3 { margin: 0px; margin-top: 1em; font-size: 14px; }
.directory p { margin: 0px; white-space: nowrap; }
.directory div { display: none; margin: 0px; }
.directory img { vertical-align: middle; }

/* ---- */

#image_text {
	background-color: #A3D6D1;
	text-decoration: line-through;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#image_textt {
	background-color: #A3D6D1;
	text-decoration: line-through;
	font-style: italic;
   	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#image_texta {
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#image_textat {
	font-size: 9px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#image_comment {
	font-size: 10px;
	text-decoration: none;
	font-family: Times,serif;
}

#comment_edit {
	font-size: 10px;
	text-decoration: none;
   	font-weight: bold;
}

#comment_form {
	font-size: 10px;
	text-decoration: none;
	text-align: left;
}

#owner_edit {
	font-size: 9px;
	text-decoration: none;
	text-align: left;
}

#exif_info {
	font-size: 9px;
	text-decoration: none;
	text-align: left;
}

/* ---- */

#view_views {
	font-size: 9px;
	text-decoration: none;
	text-align: left;
}

#view_slides {
	font-size: 9px;
	text-decoration: none;
}

#view_slide {
}

#view_graph {
	font-size: 9px;
	text-decoration: none;
	text-align: left;
}

#view_pano {
	font-size: 9px;
	text-decoration: none;
}
