<!-- $Id: Help.html,v 1.3 2004-06-03 17:06:25 paulmcav Exp $ -->
 {capture name=page_head assign=page_head}
<p>  
<h2> Help sections: <a href="#main">Main Index</a> | <a href="#view">View Image(s)</a> </h2> 
</p> 
{/capture}
<!-- BEGIN body --> 
<table width="88%" align="center"> 
  <tr> 
    <td> <p> The '<b>my-segami</b>' aka my-<i>images</i> link at the top of the page will always return you to the main index.<br> 
        Clicking the <i>Iris</i> image will reload the current page.<br> 
        Navigating to the bottom of the page will display additional links.<br> 
        Hovering your mouse over many links will display a short informational text message about the link. </p></td> 
  </tr> 
  <tr> 
    <td> <a name="main"/></a> 
      <h2>- Main Index -</h2> 
      <blockquote> 
        <p> The Main Index lists users with Image Collections. If no user has been selected, a random popular image will be displayed. Clicking a user will display a list of their (possible) collection groups. </p> 
        <h3>Viewing User Image Collections:</h3> 
        <p> Users with image collections are listed in a column on the left side of the page. </p> 
        <p> Select a Username to view a list of their image collections. A link at the top will allow you to view their <i>Entire Image Collection</i>. Below this link will be an expandable tree of image collections. </p> 
        <p> Think of image collections as a sub-group of the master collection. If a user wanted to organize a list of images into Trips, Parties or some other list; they would be itemized into this tree. </p> 
        <h3>Adding Images to Your Collection:</h3> 
        <p> If you have logged into the site, you will be able to add new images to your collection. </p> 
        <p> Currently, new images must be uploaded to the system via FTP, or your friendly System Administrator. Send an email for more information. </p> 
        <p> If you have not yet created an Image Catalog, A link on the left side will be displayed '<i>Start YOUR Collection</i>.<br> 
          If you already have a collection. Clicking the link with your name, and then selecting '<i>View Entire Collection</i>' will allow you to add new images.<br> 
          On the View page, you can browse your directory/folder list and select which images to add to your Catalog. </p> 
        <p> Only images added to your Catalog will be viewable by other users. However, once in your catalog, you will be able to '<i>toggle</i>' access to the images by other users. This allows you to edit information or search for the image for personal access.<br> 
          More information about adding and editing image information is below. </p> 
        <font size="2"><a href="#top"><img src="images/upback.png" border="0"
				align="absmiddle">TOP</a></font> </blockquote></td> 
  </tr> 
  <tr> 
    <td> <a name="view"></a> 
      <h2>- View Images -</h2> 
      <blockquote> 
        <p> The View Image page will allow you to view Collection folders, Image Thumbnails, and Image Details. If you are viewing your personal collection, it will also be possible to add new images to your collection(s). </p> 
        <h3>Selecting a Collection Folder:</h3> 
        <p> Collection folders are listed in a tree format. After each folder name, there are two numbers <i>[#/#]</i>. The first number indicates how many images are in that folder. The second number (if displayed) indicates how many sub-folders are available. </p> 
        <p> Select a top-level folder by clicking on the name. If there are sub-folders, a book image will be displayed with a [+] or [-] to the left. Clicking on the +/- will expand or collapse the tree. Bottom level folders will display a page image to the left of the folder name. </p> 
        <p> Selecting a folder with images in them will display a group of thumbnails. </p> 
        <h3>Viewing Thumbnails:</h3> 
        <p> All images in a folder will initially be displayed as thumbnails. If too many images are available in the folder, ie: &gt;40, a Page selection link will be displayed at the </i>Top-Right</i> of the page. Clicking on the Page Number will switch pages. </p> 
        <p> Image thumbnails are grouped into sections by media type. Images, Panoramas and lastly Video Clips. Images must be tagged as a panorama on the edit window to be displayed as such. A Java Applet allowing panning of a image is used specifically for the panorama images. If you are using a non-Unix web browser, video clips will be embedded into the page allowing you to view them in a streaming format. </p> 
        <p> Above each thumbnail will be displayed the image name. If the image has an associated title, the name will be displayed in <b>bold</b>. If the image has been viewed by anyone other than the owner, a (#) will be displayed. Hovering your mouse over an image will display the name and available title. </p> 
        <p> Click an image thumbnail to view a larger size. Details about the image including title and notes will also be visible. A user must be logged into the site to view Image Details. </p> 
        <h3>Viewing (A Single) Image Details:</h3> 
        <p> Once you are viewing a single image. You may select a different size to display. From a very small image which is good for low-bandwidth connections, to the original sized large image. The image size selection is located at the top-right of the browser window; just below your user-name. </p> 
        <p> The current image number of the group is displayed along with the Previous / Next selection links at the top right of the page. Once the end of the list has been reachd (or beginning) the arrows will turn around indicating which way to move through the list. </p> 
        <p> Below the large sized image, If available a title will be displayed. Also, information about the time, resolution, file size, number of image views and a link to the Image Exif data is displayed. </p> 
        <p> Clicking the <i>Exif</i> link will pop up a window allowing you to view extra information recorded with each image. Leaving the window up, and moving to another image will probably update the Exif window. If the Exif window does not automatically update, clicking the 'Refresh' link will refresh the window. </p> 
        <p> Your personal comments on the image can be added by clicking the 'Add Comment' link below the image. An entry form is then displayed allowing you to add or edit your comment. Selecting the 'Add Comment' button will confirm the edit. </p> 
        <h3>Miscellaneous Views:</h3> 
        <p> View Graph - Displays pop-up window displaying graphically the distribution of images per year or month.<br> 
          Clicking on the year or month bar will display the first image in that group. </p> 
        <!--
			<p>
			</p>
			--> 
        <h3>Adding New Images:</h3> 
        <p> If you are looking at <b>your</b> Entire Collection of images. Selecting a folder with new images in it, the last page will have your new images. The top of the section will have a blue bar with a link noting the ability to 'Add New Images To Catalog'. </p> 
        <p> Each new image can be previewed in a new window by clicking the thumbnail.<br> 
          Clicking the title of the image will pop-up an Exif Window to view extra details about the image. </p> 
        <p> Mark each image to add to your collection by clicking the check-box. Clicking the link 'Check All' will (de)Select each image.<br> 
          Add any key-words you would like to associate with the images to add.<br> 
          When finished selecting the images, click the 'Add Selected' button. You will be directed to a page listing out each image added to your Catalog. </p> 
        <p> Only Jpeg (*.jpg) images or Video clips (*.avi) are able to be added to your Catalog. Video clips added to your catalog are queue'd to be converted into MPEG files. MPEG video clips are better suited to streaming, and are significantly smaller than the original AVI or QT files.<br> 
          Most Video clips from digital still cameras use MJPEG (Motion JPEG) to encode the video. </p> 
        <p> It is advised to also post your video clip thumbnails (*.thm). If none are found, they will be generated. The originals however contain miscellaneous information about the clip which is nice to retain. </p> 
        <p> If you add Panorama images to your catalog. Changing the media type can be done via editing the Image Details as directed below. </p> 
        <h3>Editing Image Details:</h3> 
        <p> Only the owner of an image may edit details. An individual image must be selected before the edit link is displayed.<br> 
          Click the '<i>Edit</i>' link to the top-right of the image to access the Edit Window. </p> 
        <p> In the edit window, entry boxes are labeled for adding an image Title, Notes and Key-words. The current media type is selected in the appropriate radio button. Switching from Image to Panorama are the only changes able to be made. Panorama images will be shown in a Java Applet allowing full panning around the image. </p> 
        <p> Clicking the 'Update' button will update the <i>currently displayed image</i>. </p> 
        <p> <B>NOTE:</b> If no image is displayed, then the image named at the top of the window will be updated. Remember, if you move to another image, the <i>currently displayed</i> image will be the one updated with the information. </p> 
        <p> As you move between images, the larger window will try and update the edit window with the current image information. If the edit window is not synchronized, clicking the 'refresh' link will update with the current image information. </p> 
		<font size="2"><a href="#top"><img src="images/upback.png" border="0"
				align="absmiddle">TOP</a></font> </blockquote></td> 
  </tr> 
  <tr> 
    <td> A modern (IE6/Mozilla) browser and javascript are required to view this site correctly. A link providing an excellent free browser called Firefox is at the bottom of every page. </td> 
  </tr> 
  <tr> 
	  <td> <p> <a href="{$referer}"><img src="images/prev.gif" border="0"
			  align="absmiddle">Back</a> to previous page. </p></td> 
  </tr> 
</table> 
<!-- END body --> 
