<!-- $Id: Index.html,v 1.12 2004-06-03 17:06:25 paulmcav Exp $ -->

{capture name=page_head assign=page_head}
	<!-- begin path links --> 
	{section name=path loop=$paths} <a href="{$paths[path].link}">{$paths[path].name}</a> / {sectionelse} Click a collection link to view related images.<br> 
	Please login to view large image sizes.<br> 
	{/section}
	<!-- end path links --> 
{/capture}

<!-- BEGIN body -->
<div id="mysegami-indexNav"> 
	
	<div id="mysegami-indexNavLinks"> 

		<h3>Member Collections..</h3> 
		<!-- begin member links --> 
		{section name=member loop=$user_list} <a href="?page=View&uid={$user_list[member].id}"
			  _href="{$user_list[member].userlink}">{$user_list[member].name} [<i>{$user_list[member].img_cnt}</i>]</a> {/section} {if $add_new_files ne ""} <i><a href="{$add_new_url}">Start YOUR collection</a></i> {/if}
		<!-- end member links --> 
	</div> 
	
	<div id="mysegami-indexNavRelated"> 

		<h3>Friend Collections..</h3> 
		<!-- begin visitor links --> 
		{section name=friend loop=$friend_list} <a href="{$friend_list[friend].userlink}">{$friend_list[friend].name}</a> {/section}
		<!-- end visitor links --> 
	</div> 
	
</div> 

<div id="mysegami-indexContent"> {if $page_content eq "rand_image"}
  <!-- begin random_image --> 
  <p>  
  <table id="rand_image" width="80%" border=0 cellpadding="2"
		  cellspacing="0"> 
    <tr> 
      <th colspan="2">Featured Image:</th> 
    </tr> 
    <tr> 
      <td width="20%" ><a href="{$img_url}"><img src="{$img_src}" border="1" {$img_size}
					  title="{$name}{$title}"></a></td> 
      <td valign="top" width="" align="center"><div id="image_title">{$title}</div> 
        <p>{$notes}</p></td> 
    </tr> 
    <tr> 
      <td align="center"><span id="image_texta">{$date} ~ {$views}</span></td> 
    </tr> 
  </table> 
  </p> 
  <hr width="50%"> 
  <P> Share your favorite images with friends! </p> 
  <p> A <b>Member Collection</b> contains original images made available by their owner.<br> 
    Make a <b>Friend Collection</b> by picking your own favorite images.<br> 
    Add your own comments or corrections to your friends images.<br> 
  </p> 
  <p> Add images to <b>Your Catalog</b>, and create your own Collections.<br> 
    Click <i><u>Start YOUR Collection</u></i> to create a catalog.<br> 
    Share your collections with friends!<br> 
  </p> 
  <p> Each image is copyrighted by their respective owners. </p> 
  <h3>Privacy</h3> 
  <p> We respect your privacy. Your email and contact info are only used to manage access to Large Images. You will not be contacted unless a specific request is made. </p> 
  <!-- end random_image --> 
  {else}
  <!-- begin user collection list --> 
  <b>Collection(s) for {$collection_user}:</b> 
  <p> Select a Collection below. Clicking on the name will display information about the collection.<br> 
    Choose 'Entire Collection' to browse all images. </p> 
  <table border=0 cellpadding=2 cellspacing=0> <tr> 
    <td width=""
				valign="top"> <div class="directory"> 
        <div style="display: block;"> 
          <p> <img align="absmiddle" src="images/ftv2folderopen.png"><A href="{$user_img_link}">Entire Collection</a>. [{$collection_cnt} images]<br> 
          </p> 
          {section name=id loop=$collection} {if $collection[id].div ne ""} {$collection[id].div} {else}
          <p>{$collection[id].images}<span id="fixed">{$collection[id]._cd}</span
			> <a class="el" href="#"
				onclick="bookClick(
				'col_txt_'
				,'{$collection[id].name}'
				,'{$collection[id]._cd}'
				,'{$collection[id].image_url}'
				,'{$collection[id].notes}'
				,'{$collection[id].img_cnt}'
				,'{$collection[id].clctn_url}', this); return false;"
				>{$collection[id].name}</a> [{$collection[id].img_cnt}]</p> 
          {/if} {/section} </div> 
      </div></td> 
    <td width="" valign=""> 
     <div id="col_txt_" style="display: none; position: relative;"> 
      <table border=0 width="100%"> 
         <tr> 
          <td align="center" bgcolor="#E4F3F2"><font size="1"> Click image to view Collection. </font></td> 
        </tr> 
         <tr> 
          <td align="center"><div id='col_txt_0'>.</div></td> 
        </tr> 
         <tr> 
          <td align="center"><a href="#"><img id="col_txt_img"
					src="images/iris_40.png" border="1" name="*"
					onclick="bookImage(this);"></a></td> 
        </tr> 
         <tr> 
          <td align="center"><div id='col_txt_2'>.</div></td> 
        </tr> 
         <tr> 
          <td align="center"><div id='col_txt_3'>.</div></td> 
        </tr> 
         </td> 
         </tr> 
          </table> 
    </div> 
    </td> 
    </tr> 
  </table> 
  <!-- end user_collection_list --> 
  {/if} 
  
</div> 
<!-- END body -->

