<!-- $Id: Login.html,v 1.5 2004-06-02 00:39:09 paulmcav Exp $ -->
<!-- BEGIN body -->
 <table width="98%" align="center"> 
  <tr> 
     <td> {if $li_mode eq 'logout'} <b>You have been logged out!</b> {elseif $li_mode eq 'snd_pass'} <b>A password has been sent ..</b> {elseif $li_mode eq 'snd_nopass'} <span id="err_message"> Unknown email address submitted. No password was sent. </span> {elseif $li_mode eq 'li_fail_uid'} <span id="err_message"> Login Failed, invalid email address. </span> {elseif $li_mode eq 'li_fail_upw'} <span id="err_message"> Login Failed, invalid password submitted. </span> {/if}
      <P> Access to the images is normally restricted to just thumbnail images. </p> 
      <p> In order to allow people to post comments, know how many times an image has been viewed and give access to larger quality photos; registration and login is required to the site. </p> 
      <p> Please enter your <i>email address</i> and <i>password</i> below. </p> 
      <form action="?{$refurl}" method="POST"> 
         <table> 
          <tr> 
             <td align="right">Email:</td> 
             <td><input type="text" name="uid" value="" size="30"></td> 
           </tr> 
          <tr> 
             <td align="right">Password:</td> 
             <td><input type="password" name="pass" value="" size="10"></td> 
           </tr> 
          <tr> 
             <td></td> 
             <td> <input type="submit" name="cmd" value="Login"> 
              <input type="reset" value="Clear"></td> 
           </tr> 
        </table> 
         <p> If you have forgotten your password; Enter your email address and click
          <input type="submit" name="cmd" value="Send Password"> 
          <br> 
          It will be sent to your via email shortly.
      </form> 
      <p> If you do not have an account, please <a href="?page=Register">Register</a>. <br> 
         You will receive access to enhanced images and the ability to post comments. </p></td> 
   </tr> 
</table> 
<!-- END body --> 
