<!-- $Id: Register.html,v 1.5 2004-06-02 00:39:09 paulmcav Exp $ -->
<!-- BEGIN body -->
 <table width="98%" align="center"> 
  <tr> 
     <td> {if $r_mode eq 'uid_found'} <span id="err_message"> That email address has already been registered. </span> 
      <p> <b>Please try another one, or have the system <a href="?{$send_email}">send your password</a> to you. </b> </p> 
      {elseif $r_mode eq 'msg_email1'} Please confirm your email address by entering it again. {elseif $r_mode eq 'bad_email'} You submitted two different email address. Plese enter the correct address or <a href="?page=Register">Try Again</a>. {elseif $r_mode eq 'msg_pass' || $r_mode eq 'msg_pass1'} One of the password fields was missing. Please enter your password, and confirm it. {elseif $r_mode eq 'bad_pass'} The passwords you submitted don't match. Please try again. {elseif $r_mode eq 'msg_name'} Missing a required field. {/if}
      <p> User Registration. </p> 
      <form action="?{$refurl}" method="POST"> 
         <input type="hidden" name="part" value="{$part_num}"> 
         <!-- BEGIN form_part1 --> 
         {capture name=part1 assign=part1}
         <table> 
          <tr> 
             <td>Email address:</td> 
             <td> <input type="text" name="email" value="" size="30"> </td> 
           </tr> 
        </table> 
         <input type="submit" name="cmd" value="Submit"> 
         <!-- END form_part1 --> 
         {/capture} {capture name=part2 assign=part2}
         <table> 
          <!-- BEGIN form_part2 --> 
          <tr> 
             <td>Email address:</td> 
             <td><b>{$email}</b></td> 
           </tr> 
          <tr> 
             <td><span id="{$err_email1}">Email (again):</span></td> 
             <td> <input type="text" name="email1" value="{$email1}" size="30"> </td> 
           </tr> 
          <tr> 
             <td><span id="{$err_name}">Name:</span></td> 
             <td> <input type="text" name="name" value="{$name}" size="30"> </td> 
           </tr> 
          <tr> 
             <td>Address:</td> 
             <td> <input type="text" name="address" value="{$address}" size="40"> </td> 
           </tr> 
          <tr> 
             <td>City:</td> 
             <td> <input type="text" name="city" value="{$city}" size="30"> </td> 
           </tr> 
          <tr> 
             <td>State:</td> 
             <td> <input type="text" name="state" value="{$state}" size="5"> </td> 
           </tr> 
          <tr> 
             <td>Zip:</td> 
             <td> <input type="text" name="zip" value="{$zip}" size="10"> </td> 
           </tr> 
          <tr> 
             <td>Phone:</td> 
             <td> <input type="text" name="phone" value="{$phone}" size="12"> </td> 
           </tr> 
          <tr> 
             <td><span id="{$err_pass}">Password:</span></td> 
             <td> <input type="password" name="pass" value="" size="30"> </td> 
           </tr> 
          <tr> 
             <td><span id="{$err_pass1}">Password Again:</span></td> 
             <td> <input type="password" name="pass1" value="" size="30"> </td> 
           </tr> 
        </table> 
         <input type="submit" name="cmd" value="Submit"> 
         <!-- END form_part2 --> 
         {/capture} {if $part_num eq '1'}
         <p> Create your account information here. You will then be able to access larger images sizes. </p> 
         {$part1} {elseif $part_num eq '2'} {$part2} {elseif $part_num eq '3'}
         <p> Thanks for sumbitting your info.. you are now registered. </p> 
         Click <a href="?{$prev_url}">this link</a> to return to the previous page. {/if}
       </form></td> 
   </tr> 
</table> 
<!-- END body --> 
