<!-- $Id: View.html,v 1.22 2004-07-27 23:30:40 paulmcav Exp $ -->
<SCRIPT src="images/base64.js" language="JavaScript" type="text/JavaScript"></script>

{capture name=subtree assign=subtree} {section name=sd loop=$subdir} {if $subdir[sd].div ne ""}
<!-- s_div --> 
{$subdir[sd].div} {else}
<!-- s_node --> 
<p>{$subdir_spacer_img} {$subdir[sd].images}<a
		class="el{$subdir[sd].select}" href="?{$subdir[sd].clctn_url}"
		>{$subdir[sd].name}</a> [{$subdir[sd].img_cnt}]</p> 
{/if} {/section} {/capture}

{capture name=page_select assign=page_select}
  {if $pages > 1} Page: {section name=pi loop=$pager} {if $pager[pi].sel eq '1'} <b><font color="#006699">{$pager[pi].num}</font></b> {else} <a title="{$pager[pi].range}" href="?{$pager[pi].url}">{$pager[pi].num}</a> {/if} {/section} {if $pager.nxt_url ne ''} <a href="?{$pager.nxt_url}"><img src="images/next.gif" border="0"
			align="absmiddle" title="Next page"></a> {/if} <br> 
	{/if}
	{if $view_mode eq 'i'}
  <!-- next / prev image --> 
  {if $image.prv_url ne "#"}<a href="#"
		onClick="return urlppup('{$image.prv_url}');"><img
		src="images/lt.png" border="0" align="absmiddle" width="11" height="21"
		title="Previous Image"></a> 
	{else}
   	<a href="#" onClick="return urlppup('{$image.nxt_url}');"><img
		src="images/gt.png" border="0" align="absmiddle" width="11" height="21"
		title="Next Image"></a>
	{/if}
	[{$image.position}]
   	{if $image.nxt_url ne "#"}<a href="#"
		onClick="return urlppup('{$image.nxt_url}');"><img
		src="images/gt.png" border="0" align="absmiddle" width="11" height="21"
		title="Next Image"></a>
	{else}
   	<a href="#" onClick="return urlppup('{$image.prv_url}');"><img
		src="images/lt.png" border="0" align="absmiddle" width="11" height="21"
		title="Previous Image"></a>
	{/if}
   	{/if}
{/capture}

{capture name=page_head assign=page_head}
<!-- BEGIN page_head -->
	<div id="mysegami-ViewTitle">
{if $path_select != ''}
		<h2><img src="images/ftv2folderopen.png" align="absbottom"><a
				href="{$path_url}">{$path_select}</a> {$path_image}
	{if $view_mode == 'i'}
	<br>
	<a href="?{$image.page_url}"><img src="images/upback.png" border="0"
			align="absmiddle" width="18" height="20"
			title="Return to image thumbnail view"/></a>
	{/if}
		</h2>
{else}
<div style="text-align: center;">
	<font size="1"> Select a collection name to view images.<br> 
		The <i>[#/#]</i> following collection names indicate [Images/Sub Folders]. </font>
</div>
{/if}
	</div>

<div id="mysegami-ViewTitleLinks">
	View
  <!-- --> 
   	{if $slide_url ne ''} <a href="#" onClick="ViewSlide=open_win('?{$slide_url}','ViewSlide'
		,812,700,',status=1'); return false;">SlideShow</a> | {/if}
  <!-- --> 
  <a href="#" onClick="ViewGraph=open_win('?page=ViewGraph','ViewGraph',122,400,',status=1'); return false;"
		>Graph</a><br> 
	<!-- -->
	{$page_select}
</div> 
<!-- END page_head -->
{/capture}

<!-- BEGIN body -->
<div>
<table width="100%" border=0 cellpadding=2 cellspacing=0 style="clear: both;"> 
    <tr> 
      <td align="left" valign="top" width="10" rowspan="2"> Collection:<br> 
        <div class="directory"> 
          <div style="display: block;"> {if $nav_mode eq "dir"} {section name=td loop=$topdir} {if $topdir[td].div ne ""}
            <!-- t_div --> 
            {$topdir[td].div} {else}
            <!-- t_node --> 
            <p>{$topdir[td].images_}<img src="images/ftv2{$topdir[td].last}node.png" 
		alt="|" width="16" height="22"
		onClick="location.href='?{$topdir[td].clctn_url}'" 
		/><a class="el{$topdir[td].select}" href="?{$topdir[td].clctn_url}"
		>{$topdir[td].name}</a> [{$topdir[td].img_cnt}]</p> 
            {if $topdir[td].id eq $subdir[0].p_id}{$subtree}{/if} {/if} {/section} {else} <img src="images/ftv2folderopen.png" width=24 height=22><a
		 href="?page=Index&uid={$_uid}">Collection List</a>:<br> 
            {$subtree} {/if} </div> 
        </div> 
        <SCRIPT language="JavaScript" type="text/JavaScript">{$js_openfolder}</SCRIPT> </td> 
      <td valign="top" align="center"> {capture name=view_thumb assign=view_thumb}
        <!-- thumbs --> 
        <div id="pView_thumb"> 
          <form name="formAddNew" method="POST" action="?page=AddNew"> 
            <table width="100%" border=0 cellpadding=0 cellspacing=0> 
              <tr align="left"> 
                <td> {if $i_num }
                  <!-- images --> 
                  {section name=itc loop=$i_thumbs}
				  <div id="pView_th_i"><div><span
						id="image_text{$i_thumbs[itc].status}{$i_thumbs[itc].f_title}"
						> 
                    <!--
						<img src="images/box.gif" align="absmiddle">
						--> 
                    {$i_thumbs[itc].name}</span>
				{$i_thumbs[itc].num_views}</div><div><a href="#"
					   	onClick="{$i_thumbs[itc].img_src} return false;"
						><img src="media.php?{$i_thumbs[itc].img_thm}" border="1"
					width="{$i_thumbs[itc].img_tx}"
					height="{$i_thumbs[itc].img_ty}"
					title="{$i_thumbs[itc].name}: {$i_thumbs[itc].title}"
					/></a></div></div> 
                  {/section} {/if} {if $p_num } </td> 
              </tr> 
              <tr align="left"> 
                <td> <!-- panoramas --> 
                  {section name=ptc loop=$p_thumbs}
				  <div id="pView_th_p"><div><span
							  id="image_text{$p_thumbs[ptc].status}{$p_thumbs[ptc].f_title}">{$p_thumbs[ptc].name}</span>
						  {$p_thumbs[ptc].num_views}</div><div><a href="#" 
				onClick="{$p_thumbs[ptc].img_src} return false;"
						><img src="media.php?{$p_thumbs[ptc].img_thm}" border="1"
						width="{$p_thumbs[ptc].img_tx}"
						height="{$p_thumbs[ptc].img_ty}"
						title="{$p_thumbs[ptc].name}: {$p_thumbs[ptc].title}"
						/></a></div></div> 
                  {/section}
                  <div style="border-top: 1px dotted #cccccc"></div> 
                  {/if} {if $v_num } </td> 
              </tr> 
              <tr align="left"> 
                <td> <!-- videos --> 
                  {section name=vtc loop=$v_thumbs}
				  <div id="pView_th_v"><div><span
							  id="image_text{$v_thumbs[vtc].status}{$v_thumbs[vtc].f_title}">{$v_thumbs[vtc].name}</span>
						  {$v_thumbs[vtc].num_views}</div><div><a href="#"
						onClick="{$v_thumbs[vtc].img_src} return false;"
						><img src="media.php?{$v_thumbs[vtc].img_thm}" border="1"
					width="{$v_thumbs[vtc].img_tx}"
					height="{$v_thumbs[vtc].img_ty}"
					title="{$v_thumbs[vtc].name}: {$v_thumbs[vtc].title}"
					/></a></div></div> 
                  {/section}
                  <div style="border-top: 1px dotted #cccccc"></div> 
                  {/if} {if $n_num } </td> 
              </tr> 
              <tr align="left"> 
				  <td><div id="pView_th_new"><a
			href="#" onClick="open_win('?page=AddNew&dir={$path_select}','AddNew',400,400); return false;"
			></a>Add New Images To Catalog [<a href="#" OnClick="check_all('formAddNew');return false;">Check All</a>] </div> 
                  <!-- new items --> 
                  {section name=ntc loop=$n_thumbs}
				  <div id="pView_th_{$n_thumbs[ntc].type}"> 
                    <input type="checkbox"
			name="f_add[{$smarty.section.ntc.index}]" value="1"
			> 
                    <a href="#" onClick="open_win('?{$n_thumbs[ntc].exif_url}','ViewExif',300,400);return false;"
				>{$n_thumbs[ntc].name}</a><a href="#"
					onClick="{$n_thumbs[ntc].img_src} return false;"
						><img src="media.php?{$n_thumbs[ntc].img_thm}" border="1"
						title="{$n_thumbs[ntc].name}"/></a></div> 
                  <!-- width="{$n_thumbs[ntc].img_tx}"
						height="{$n_thumbs[ntc].img_ty}" --> 
                  {/section} </td> 
              </tr> 
              <tr align="left"> 
                <td> <br> 
                  Key Words:
                  <input type="text" name="f_keywords" size="40"> 
				  Priority
				  <input type="text" name="f_ordr" size="2" value="10">
                  <input type="Submit" name="cmd" value="Add Selected"> 
                  {/if}
                  <!--
		</td></tr><tr><td>
		<div style="border-top: 1px dotted #cccccc"></div>
		--> </td> 
              </tr> 
            </table> 
          </form> 
        </div> 
        {/capture} {capture name=view_image assign=view_image}
        <!-- view selected image --> 
        <div id="view_image"> 
          <table width="" border=0> 
            <!--
			<tr><td align="left"></td>
				<td align="right">[<a href="javascript:close_img()">Close</a>]</td></tr>
			<tr><td colspan="2"><img src="images/iris_40.png" border="1"
					id="v_img"></td></tr>
			<tr><td align="center">{$_image.name}</td></tr>
			--> 
            <tr valign="top"> 
              <td align="center"> {if $image.media == 'v'} {if $os_type == 'WIN' || $os_type == 'MAC'}
                <EMBED border="1" width="320" height="256"
					 src="{$image.img_src}"> 
                {else} <a href="{$image.dld_url}"><img border="1"
						 src="media.php?{$image.img_thm}"
					 width="{$image.img_tx}" height="{$image.img_ty}"
					 title="Click to save video"
					 ></a> {/if} {else}
				 {if $image.media == 'p'} <a href="#"
							onClick="ViewPano=open_win('?{$image.pano_url}',
							'ViewPano',630,460); return false;"
							title="View Panorama">{/if}
				 <img border="1" src="{$image.img_src}"
					width="{$image.img_x}" height="{$image.img_y}"
					title="{$image.name}">
					{if $image.media == 'p'}</a>{/if}
				   	{/if} </td> 
              {if $image.owner ne ""}
			  <td width="60"><div id="owner_edit"><a id="EditInfo" href="?{$image.edit_url}"
							onClick="EditInfo=open_win('?{$image.edit_url}',
							'EditInfo',370,275); return false;"
							title="Edit image data">Edit</a><br> 
                  <a href="{$refurl}&toggle={$image.iid}"
							title="Toggle viewable status">Toggle</a><br> 
                  <!--
						<a href="#">G-Add</a><br>
						--> 
						<a href="#"
							onClick="ViewPano=open_win('?{$image.pano_url}',
							'ViewPano',630,460); return false;"
							title="View Panorama">Pano</a>
						<br>
						<a href="{$refurl}&del={$image.iid}"
							title="Delete from catalog">Del</a>
                  <p> {if $image.views > 0} <a href="#" 
							onClick="ViewViews=open_win('?page=ViewViews','ViewViews',420,400); return false;"
							>{$image.views} Views</a><br> 
                    {/if}  
                </div></td> 
              {/if} </tr> 
            <tr> 
              <td align="center"><div id="image_title">{$image.title}</div></td> 
            </tr> 
            <tr> 
              <td align="center"><span id="image_text{$image.status}">{$image.nicedate} [ {$image.res} @ {$image.kbytes}kB ] {$image.views} Views [<a id="ViewExif" href="?{$image.exif_url}" title="View Image EXIF data"
							onClick="ViewExif=open_win('?{$image.exif_url}','ViewExif',300,400); return false;"
							>Exif</a>]</span></td> 
            </tr> 
            <tr> 
              <td>{$image.notes}</td> 
            </tr> 
            <tr> 
              <td align="center"> <div id="image_comment"> {section name=cmnt loop=$comment} <i>&quot;{$comment[cmnt].note}&quot;</i> ~ {$comment[cmnt].name} <br> 
                  {/section} </div></td> 
            </tr> 
            <tr> 
              <td align="center"><div id="comment_edit"><a
							href="javascript:comment_edit();"
						   	title="Edit your comment for this image"><img src="images/bubble.png"
							align="absmiddle" border="0">Add Comment.</a></div> 
                <div id="comment_form" style="display:none"> 
                  <form name="" method="POST" action=""> 
                    <input type="hidden" name="f_dbid" value="{$image.iid}"> 
                    <input name="f_comment" size="40"
							value="{$user_comment}"> 
                    <br> 
                    <input type="submit" name="cmd" value="Add Comment"> 
                  </form> 
                </div></td> 
            </tr> 
          </table> 
          <script language="JavaScript" type="text/JavaScript">
			pimg=new Image(); pimg.src="media.php?{$image.prv_img}";
			nimg=new Image(); nimg.src="media.php?{$image.nxt_img}";
		</script> 
        </div> 
        {/capture} {if $view_mode eq 't'} {$view_thumb} {else} {$view_image} {/if} </td> 
    </tr> 
	<tr><td>
  <div id="mysegami-ViewFooter">
	  {$page_select}
  </div>
	</td></tr>
  </table> 
  </div>
<!-- END body -->

